
  .caption-holder {
    height: calc(250px - 70px);
}
  .caption-holder
   {
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  flex-item-align: center; 
  background-color:#212F3D  ;

  }

.caption
{
    font-weight: 900;
    font-size: 3.8em;
    padding: 0 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-family: sans-serif;
    line-height: 110%;
}
h1
{
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
    margin-top: 2.8rem;
    margin-right: 0px;
    margin-bottom: 1.68rem;
    margin-left: 0px;
}
.holder {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  text-justify:inherit}


.degree
{
    text-align: center;
    display: block;
    font-family: sans-serif;
    font-weight: 900;
    color: #fff;
    background-color: #5DADE2;
}

.dpt{
     padding-left:30px;
     padding-bottom:10px;
     font-weight:normal;
     font-family:Verdana;
}
.chip
{
    display:inline-block;
}
 .level {
    margin: 10px 0px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 5%;
    text-transform: capitalize;
    margin-left: 5%;
}
 .chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.9);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
}
